<div class="nav-container">
    <nav>
        <ul>
            <li class="nav-item active"><a routerLink="/" routerLinkActive=" active">Home</a></li>
            <li class="nav-item"><a routerLink="/login" routerLinkActive=" active">Login</a></li>
            <li class="nav-item"><a routerLink="/register" routerLinkActive=" active">Register</a></li>
            <li class="nav-item"><a routerLink="/login" routerLinkActive=" active" (click)="logout()">Log Out</a></li>
            <li class="nav-item" *ngIf="isAuthenticated"><a routerLink="/devices" routerLinkActive=" active">Devices</a></li>
            <li class="nav-item" *ngIf="isAuthenticated && userRoles?.includes('ADMIN')"><a routerLink="/users" routerLinkActive="active">Users</a></li>
            <li class="nav-item" *ngIf="isAuthenticated"><a routerLink="/chat" routerLinkActive=" active">Chat</a></li>
        </ul>
    </nav>
</div>
